---
import { Image } from "@astrojs/image/components";
import config from "@config/config.json";
import dateFormat from "@lib/utils/dateFormat";
import readingTime from "@lib/utils/readingTime";
import { humanize, plainify, slugify } from "@lib/utils/textConverter";
const { summary_length } = config.settings;
const { posts } = Astro.props;
---

<h2 class="h4 mb-4">Избранное</h2>
<div class="featured-posts row">
  {
    posts.map((post: any) => (
      <div class="mb-8 md:col-6">
        <div class="card">
          <Image
            class="card-img"
            width={235}
            height={304}
            src={post.data.image}
            alt={post.data.title}
          />
          <div class="card-content">
            <div class="card-tags space-x-1">
              {post.data.categories.map((category: any) => (
                <a class="tag" href={`/categories/${slugify(category)}`}>
                  {humanize(category)}
                </a>
              ))}
            </div>
            <h3 class="h4 card-title">
              <a href={`/blog/${post.slug}`}>{post.data.title}</a>
            </h3>
            <p class="mb-4 text-text">
              {plainify(post.body?.slice(0, Number(summary_length)))}...
            </p>
          </div>
        </div>
      </div>
    ))
  }
</div>
